WSGIScriptAlias / /var/www/html/{{site_name}}/{{site_name}}/wsgi.py
WSGIPythonPath /var/www/html/{{site_name}}/
Alias /static/ /var/www/html/{{site_name}}/static/
<VirtualHost {{ip_addr}}:80>
	<Directory /var/www/html/{{site_name}}/>
   		<Files wsgi.py>
       			Order deny,allow
       			Allow from all
   		</Files>
	</Directory>
	<Directory /var/www/html/{{site_name}}/static/>
		Order deny,allow
		Allow from all
	</directory>
	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
